# Proyecto Final - DAFT12

## EDA

### 1- Configuración del entorno

#### 1.1 Importación de Librerias a utilizar.

In [1]:
import pandas as pd 
import numpy as np
import pyodbc
from sqlalchemy import create_engine

#### 1.2 Conexión con DataBase de SQL

In [2]:
# Cadena de conexión para SQL Server con autenticación de Windows
conn_str = (
    'mssql+pyodbc://@LAPTOP-NJDM6MFL/BD_VITICOLE?'
    'driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes'
)

engine = create_engine(conn_str)

### 2- Análisis Exploratorio de Datos

#### 2.1 Tabla a analizar Proveedores

In [ ]:
# Creamos df con la tabla de la db
df_Proveedores = pd.read_sql('SELECT * FROM PROVEEDORES', engine)

In [5]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Proveedores.head(5)

Empty DataFrame
Columns: [ID_vendors_number, vendors_name]
Index: []

In [6]:
# Descripción del DataFrame
print(df_Proveedores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_vendors_number  0 non-null      object
 1   vendors_name       0 non-null      object
dtypes: object(2)
memory usage: 132.0+ bytes
None

In [7]:
# Resumen estadístico de las columnas numéricas
print(df_Proveedores.describe())

       ID_vendors_number vendors_name
count                  0            0
unique                 0            0
top                  NaN          NaN
freq                 NaN          NaN

In [8]:
# Cantidad de valores nulos por columna
df_Proveedores.isnull().sum()[df_Proveedores.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.2 Tabla a analizar Productos

In [9]:
# Creamos df con la tabla de la db
df_Productos = pd.read_sql('SELECT * FROM Productos', engine)

In [10]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Productos.head(5)

,ID_Brand,Description,Sales_Price,Size,Volume,Classification,Purchase_Price,VendorNumber,VendorName
0,58,"""Gekkeikan Black & Gold Sake""",12.99,"""750mL""","""750""",1,9.28,8320,"""SHAW ROSS INT L IMP LTD """
1,60,"""Canadian Club 1858 VAP""",10.99,"""750mL""","""750""",1,7.40,12546,"""JIM BEAM BRANDS COMPANY """
2,61,"""Margaritaville Silver""",13.99,"""750mL""","""750""",1,10.60,8004,"""SAZERAC CO INC """
3,62,"""Herradura Silver Tequila""",36.99,"""750mL""","""750""",1,28.67,1128,"""BROWN-FORMAN CORP """
4,63,"""Herradura Reposado Tequila""",38.99,"""750mL""","""750""",1,30.46,1128,"""BROWN-FORMAN CORP """

In [11]:
# Descripción del DataFrame
print(df_Productos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Brand        12261 non-null  int64
 1   Description     12261 non-null  object
 2   Sales_Price     12261 non-null  float64
 3   Size            12261 non-null  object
 4   Volume          12261 non-null  object
 5   Classification  12261 non-null  int64
 6   Purchase_Price  12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB
None

In [12]:
# Resumen estadístico de las columnas numéricas
print(df_Productos.describe())

           ID_Brand   Sales_Price  Classification  Purchase_Price  \
count  12261.000000  12261.000000    12261.000000    12261.000000
mean   17989.067123     38.640240        1.708996       26.488220
std    12528.503464    206.151172        0.454244      156.182948
min       58.000000      0.000000        1.000000        0.000000
25%     5990.000000     10.990000        1.000000        6.890000
50%    18788.000000     15.990000        2.000000       10.650000
75%    25117.000000     29.990000        2.000000       20.130000
max    90631.000000  13999.900000        2.000000    11111.030000

        VendorNumber
count   12261.000000
mean    10814.861757
std     19007.682322
min         2.000000
25%      3960.000000
50%      7153.000000
75%      9552.000000
max    173357.000000

In [13]:
# Cantidad de valores nulos por columna
df_Productos.isnull().sum()[df_Productos.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.3 Tabla a analizar OrdenesCompra

In [14]:
# Creamos df con la tabla de la db
df_OrdenesCompra = pd.read_sql('SELECT * FROM OrdenesCompra', engine)

In [15]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_OrdenesCompra.head(5)

,VendorNumber,VendorName,InvoiceDate,ID_PONumber,PODate,PayDate,Quantity,Total_Amount,Freight,Approval
0,105,"""ALTAMAR BRANDS LLC ""","""2016-01-04""",8124,"""2015-12-21""","""2016-02-16""",6,214.26,3.47,"""None"""
1,4466,"""AMERICAN VINTAGE BEVERAGE ""","""2016-01-07""",8137,"""2015-12-22""","""2016-02-21""",15,140.55,8.57,"""None"""
2,388,"""ATLANTIC IMPORTING COMPANY ""","""2016-01-09""",8169,"""2015-12-24""","""2016-02-16""",5,106.60,4.61,"""None"""
3,480,"""BACARDI USA INC ""","""2016-01-12""",8106,"""2015-12-20""","""2016-02-05""",10100,137483.78,2935.20,"""None"""
4,516,"""BANFI PRODUCTS CORP ""","""2016-01-07""",8170,"""2015-12-24""","""2016-02-12""",1935,15527.25,429.20,"""None"""

In [16]:
# Descripción del DataFrame
print(df_OrdenesCompra.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   ID_PONumber   5543 non-null   object
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   object
 7   Total_Amount  5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      5543 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 433.2+ KB
None

In [17]:
# Resumen estadístico de las columnas numéricas
print(df_OrdenesCompra.describe())

       VendorNumber  Total_Amount        Freight
count    5543.00000  5.543000e+03    5543.000000
mean    20662.75212  5.745418e+04     970.122804
std     34582.15841  1.403095e+05    7107.240327
min         2.00000  1.000000e+00       0.020000
25%      3089.00000  9.199600e+02       5.310000
50%      7240.00000  4.615450e+03      28.050000
75%     10754.00000  4.249236e+04     258.960000
max    201359.00000  1.660436e+06  152221.920000

In [29]:
# Cantidad de valores nulos por columna
df_OrdenesCompra.isnull().sum()[df_OrdenesCompra.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.4 Tabla a analizar Tiendas

In [30]:
# Creamos df con la tabla de la db
df_Tiendas = pd.read_sql('SELECT * FROM Tiendas', engine)

In [31]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Tiendas.head(5)

Empty DataFrame
Columns: [ID_store, city]
Index: []

In [32]:
# Descripción del DataFrame
print(df_Tiendas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_store  0 non-null      object
 1   city      0 non-null      object
dtypes: object(2)
memory usage: 132.0+ bytes
None

In [33]:
# Resumen estadístico de las columnas numéricas
print(df_Tiendas.describe())

       ID_store city
count         0    0
unique        0    0
top         NaN  NaN
freq        NaN  NaN

In [34]:
# Cantidad de valores nulos por columna
df_Tiendas.isnull().sum()[df_Tiendas.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.5 Tabla a analizar InventarioInicial

In [36]:
# Creamos df con la tabla de la db
df_InventarioInicial = pd.read_sql('SELECT * FROM InventarioInicial', engine)

In [37]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_InventarioInicial.head(5)

,ID_inventario_inicial,Store,City,Brand,Description,Size,onHand,Price,startDate
0,"""1_HARDERSFIELD_1000""",1,"""HARDERSFIELD""",1000,"""Goslings Dark'n Stormy VAP""","""750mL""",0,14.99,2016-01-01
1,"""1_HARDERSFIELD_1001""",1,"""HARDERSFIELD""",1001,"""Baileys 50mL 4 Pack""","""50mL 4 Pk""",0,5.99,2016-01-01
2,"""1_HARDERSFIELD_10021""",1,"""HARDERSFIELD""",10021,"""Clayhouse Syrah Paso Robles""","""750mL""",25,11.99,2016-01-01
3,"""1_HARDERSFIELD_1004""",1,"""HARDERSFIELD""",1004,"""Jim Beam w/2 Rocks Glasses""","""750mL""",17,16.49,2016-01-01
4,"""1_HARDERSFIELD_1005""",1,"""HARDERSFIELD""",1005,"""Maker's Mark Combo Pack""","""375mL 2 Pk""",7,34.99,2016-01-01

In [38]:
# Descripción del DataFrame
print(df_InventarioInicial.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_inventario_inicial  206529 non-null  object
 1   Store                  206529 non-null  int64
 2   City                   206529 non-null  object
 3   Brand                  206529 non-null  int64
 4   Description            206529 non-null  object
 5   Size                   206529 non-null  object
 6   onHand                 206529 non-null  int64
 7   Price                  206529 non-null  float64
 8   startDate              206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB
None

In [39]:
# Resumen estadístico de las columnas numéricas
print(df_InventarioInicial.describe())

               Store          Brand         onHand          Price
count  206529.000000  206529.000000  206529.000000  206529.000000
mean       42.122457   13761.482320      20.429455      22.253910
std        23.191393   13059.429355      31.467342      70.178964
min         1.000000      58.000000       0.000000       0.000000
25%        22.000000    3746.000000       7.000000       9.990000
50%        42.000000    8010.000000      12.000000      14.990000
75%        64.000000   22143.000000      21.000000      21.990000
max        79.000000   90090.000000    1251.000000   13999.900000

In [40]:
# Cantidad de valores nulos por columna
df_InventarioInicial.isnull().sum()[df_InventarioInicial.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.6 Tabla a analizar InventarioFinal

In [41]:
# Creamos df con la tabla de la db
df_InventarioFinal = pd.read_sql('SELECT * FROM InventarioFinal', engine)

In [42]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_InventarioFinal.head(5)

,ID_inventario_final,Store,City,Brand,Description,Size,onHand,Price,endDate
0,"""1_HARDERSFIELD_1001""",1,"""HARDERSFIELD""",1001,"""Baileys 50mL 4 Pack""","""50mL 4 Pk""",0,5.99,2016-12-31
1,"""1_HARDERSFIELD_10021""",1,"""HARDERSFIELD""",10021,"""Clayhouse Syrah Paso Robles""","""750mL""",23,13.99,2016-12-31
2,"""1_HARDERSFIELD_1003""",1,"""HARDERSFIELD""",1003,"""Crown Royal VAP Glass+Coastr""","""750mL""",0,22.99,2016-12-31
3,"""1_HARDERSFIELD_10058""",1,"""HARDERSFIELD""",10058,"""F Coppola Dmd Ivry Cab Svgn""","""750mL""",47,14.99,2016-12-31
4,"""1_HARDERSFIELD_10062""",1,"""HARDERSFIELD""",10062,"""B de Beauchene CDR Rouge""","""750mL""",29,8.99,2016-12-31

In [43]:
# Descripción del DataFrame
print(df_InventarioFinal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID_inventario_final  224489 non-null  object
 1   Store                224489 non-null  int64
 2   City                 224489 non-null  object
 3   Brand                224489 non-null  int64
 4   Description          224489 non-null  object
 5   Size                 224489 non-null  object
 6   onHand               224489 non-null  int64
 7   Price                224489 non-null  float64
 8   endDate              224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB
None

In [44]:
# Resumen estadístico de las columnas numéricas
print(df_InventarioFinal.describe())

               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [45]:
# Cantidad de valores nulos por columna
df_InventarioFinal.isnull().sum()[df_InventarioFinal.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

Explayamos sobre valores nulos

In [47]:
#Creamos DataFrame solo con los registros que contienen valores nulos en City
df_InventarioFinal_nulos = df_InventarioFinal[df_InventarioFinal.isnull().any(axis=1)] # Filtra las filas que tienen al menos un valor nulo
df_InventarioFinal_nulos

Empty DataFrame
Columns: [ID_inventario_final, Store, City, Brand, Description, Size, onHand, Price, endDate]
Index: []

A priori parece que únicamente faltan los datos de City para la tienda 46, por lo que procedemos a corroborarlo

In [48]:
# Contamos cantidad de valores nulos de City por Store
df_InventarioFinal_nulos.groupby("Store")["City"].apply(lambda x: x.isnull().sum()) # Función que le asigna a cada valor si es nulo o no y luego los suma

Series([], Name: City, dtype: object)

#### 2.7 Tabla a analizar Compras

In [49]:
# Creamos df con la tabla de la db
df_Compras = pd.read_sql('SELECT * FROM Compras', engine)

In [50]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Compras.head(5)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,Purchase_Price,Quantity,Total_Amount,Classification
0,"""69_MOUNTMEND_8412""",69,8412,"""Tequila Ocho Plata Fresno""","""750mL""",105,"""ALTAMAR BRANDS LLC """,8124,"""2015-12-21""","""2016-01-02""","""2016-01-04""","""2016-02-16""",35.71,6,214.26,1
1,"""30_CULCHETH_5255""",30,5255,"""TGI Fridays Ultimte Mudslide""","""1.75L""",4466,"""AMERICAN VINTAGE BEVERAGE """,8137,"""2015-12-22""","""2016-01-01""","""2016-01-07""","""2016-02-21""",9.35,4,37.40,1
2,"""34_PITMERDEN_5215""",34,5215,"""TGI Fridays Long Island Iced""","""1.75L""",4466,"""AMERICAN VINTAGE BEVERAGE """,8137,"""2015-12-22""","""2016-01-02""","""2016-01-07""","""2016-02-21""",9.41,5,47.05,1
3,"""1_HARDERSFIELD_5255""",1,5255,"""TGI Fridays Ultimte Mudslide""","""1.75L""",4466,"""AMERICAN VINTAGE BEVERAGE """,8137,"""2015-12-22""","""2016-01-01""","""2016-01-07""","""2016-02-21""",9.35,6,56.10,1
4,"""76_DONCASTER_2034""",76,2034,"""Glendalough Double Barrel""","""750mL""",388,"""ATLANTIC IMPORTING COMPANY """,8169,"""2015-12-24""","""2016-01-02""","""2016-01-09""","""2016-02-16""",21.32,5,106.60,1

In [51]:
# Descripción del DataFrame
print(df_Compras.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        object
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  Purchase_Price  object
 13  Quantity        object
 14  Total_Amount    float64
 15  Classification  object
dtypes: float64(1), int64(3), object(12)
memory usage: 289.6+ MB
None

In [52]:
# Resumen estadístico de las columnas numéricas
print(df_Compras.describe())

              Store         Brand  VendorNumber  Total_Amount
count  2.372474e+06  2.372474e+06  2.372474e+06  2.372474e+06
mean   4.465133e+01  1.241864e+04  6.886436e+03  1.342348e+02
std    2.351245e+01  1.255728e+04  8.066694e+03  2.805286e+02
min    1.000000e+00  5.800000e+01  2.000000e+00  0.000000e+00
25%    2.500000e+01  3.639000e+03  3.252000e+03  4.794000e+01
50%    4.800000e+01  6.523000e+03  4.425000e+03  8.268000e+01
75%    6.700000e+01  1.887700e+04  9.552000e+03  1.387200e+02
max    8.100000e+01  9.063100e+04  2.013590e+05  5.017570e+04

In [53]:
# Cantidad de valores nulos por columna
df_Compras.isnull().sum()[df_Compras.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

Explayamos sobre valores nulos

In [54]:
#Creamos DataFrame solo con los registros que contienen valores nulos
df_Compras_nulos = df_Compras[df_Compras.isnull().any(axis=1)] # Filtra las filas que tienen al menos un valor nulo
df_Compras_nulos

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, Purchase_Price, Quantity, Total_Amount, Classification]
Index: []

Traemos el Size de otros productos con misma descripción

In [56]:
df_same_size = df_Compras[df_Compras['Description'].isin(df_Compras_nulos['Description'])]

# Mostramos los resultados obtenidos
print("Registros con 'Size' nulo:")
print(df_Compras_nulos[['Description', 'Size']])

print("\nRegistros con la misma 'Description' pero con 'Size' no nulo:")
print(df_same_size[['Description', 'Size']])

Registros con 'Size' nulo:
Empty DataFrame
Columns: [Description, Size]
Index: []

Registros con la misma 'Description' pero con 'Size' no nulo:
Empty DataFrame
Columns: [Description, Size]
Index: []

#### 2.8 Tabla a analizar Ventas

In [57]:
# Creamos df con la tabla de la db
df_Ventas = pd.read_sql('SELECT * FROM Ventas', engine)

In [58]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Ventas.head(5)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-01,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2016-01-02,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-03,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2016-01-08,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2016-01-09,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [59]:
# Descripción del DataFrame
print(df_Ventas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  object
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(5), object(6)
memory usage: 112.0+ MB
None

In [60]:
# Resumen estadístico de las columnas numéricas
print(df_Ventas.describe())

              Store         Brand  SalesQuantity  SalesDollars    SalesPrice  \
count  1.048575e+06  1.048575e+06   1.048575e+06  1.048575e+06  1.048575e+06
mean   4.008063e+01  1.216959e+04   2.337619e+00  3.160420e+01  1.543162e+01
std    2.435739e+01  1.241921e+04   3.511492e+00  6.570249e+01  1.404967e+01
min    1.000000e+00  5.800000e+01   1.000000e+00  4.900000e-01  4.900000e-01
25%    1.500000e+01  3.680000e+03   1.000000e+00  1.099000e+01  8.990000e+00
50%    3.900000e+01  6.296000e+03   1.000000e+00  1.799000e+01  1.299000e+01
75%    6.400000e+01  1.795400e+04   2.000000e+00  3.199000e+01  1.899000e+01
max    7.900000e+01  9.008900e+04   4.320000e+02  1.327997e+04  4.999990e+03

             Volume     ExciseTax      VendorNo
count  1.048575e+06  1.048575e+06  1.048575e+06
mean   9.500280e+02  1.326847e+00  6.995043e+03
std    7.142708e+02  3.407898e+00  8.426736e+03
min    5.000000e+01  1.000000e-02  2.000000e+00
25%    7.500000e+02  1.600000e-01  3.252000e+03
50%    7.500000e+02  6.800000e-01  4.425000e+03
75%    1.500000e+03  1.570000e+00  9.552000e+03
max    2.000000e+04  3.785200e+02  1.733570e+05

In [61]:
# Cantidad de valores nulos por columna
df_Ventas.isnull().sum()[df_Ventas.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)