# Proyecto Final - DAFT12

## EDA

### 1- Configuración del entorno

#### 1.1 Importación de Librerias a utilizar.

In [2]:
import pandas as pd 
import numpy as np
import os

#### 1.2 Creación de DataFrames con archivos csv

In [3]:
# Obtenemos la ruta a la carpeta "datasets_kaggle" en "Downloads" del usuario actual
DIRECTORIO_DESTINO = os.path.join(os.path.expanduser("~"), "Downloads", "datasets_kaggle")

# CREACIÓN DE DATAFRAMES CON LOS ARCHIVOS CSV
df_Productos = pd.read_csv(DIRECTORIO_DESTINO + "/2017PurchasePricesDec.csv", sep=',')
df_OrdenesCompra = pd.read_csv(DIRECTORIO_DESTINO + "/InvoicePurchases12312016.csv", sep=',')
df_InventarioInicial = pd.read_csv(DIRECTORIO_DESTINO + "/BegInvFINAL12312016.csv", sep=',')
df_InventarioFinal = pd.read_csv(DIRECTORIO_DESTINO + "/EndInvFINAL12312016.csv", sep=',')
df_Compras = pd.read_csv(DIRECTORIO_DESTINO + "/PurchasesFINAL12312016.csv", sep=',')
df_Ventas = pd.read_csv(DIRECTORIO_DESTINO + "/SalesFINAL12312016.csv", sep=',')

### 2- Análisis Exploratorio de Datos

#### 2.1 Tabla a analizar Productos

In [4]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Productos.head(5)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

In [5]:
# Descripción del DataFrame
print(df_Productos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB
None

In [6]:
# Resumen estadístico de las columnas numéricas
print(df_Productos.describe())

              Brand         Price  Classification  PurchasePrice  \
count  12261.000000  12261.000000    12261.000000   12261.000000
mean   17989.067123     38.640240        1.708996      26.488220
std    12528.503464    206.151172        0.454244     156.182948
min       58.000000      0.000000        1.000000       0.000000
25%     5990.000000     10.990000        1.000000       6.890000
50%    18788.000000     15.990000        2.000000      10.650000
75%    25117.000000     29.990000        2.000000      20.130000
max    90631.000000  13999.900000        2.000000   11111.030000

        VendorNumber
count   12261.000000
mean    10814.861757
std     19007.682322
min         2.000000
25%      3960.000000
50%      7153.000000
75%      9552.000000
max    173357.000000

In [7]:
# Cantidad de valores nulos por columna
df_Productos.isnull().sum()[df_Productos.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Description    1
Size           1
Volume         1
dtype: int64

#### 2.2 Tabla a analizar OrdenesCompra

In [8]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_OrdenesCompra.head(5)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [9]:
# Descripción del DataFrame
print(df_OrdenesCompra.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB
None

In [10]:
# Resumen estadístico de las columnas numéricas
print(df_OrdenesCompra.describe())

       VendorNumber      PONumber       Quantity       Dollars      Freight
count    5543.00000   5543.000000    5543.000000  5.543000e+03  5543.000000
mean    20662.75212  10889.419087    6058.880931  5.807338e+04   295.954301
std     34582.15841   1600.859969   14453.338164  1.402340e+05   713.585093
min         2.00000   8106.000000       1.000000  4.140000e+00     0.020000
25%      3089.00000   9503.500000      83.000000  9.678100e+02     5.020000
50%      7240.00000  10890.000000     423.000000  4.765450e+03    24.730000
75%     10754.00000  12275.500000    5100.500000  4.458718e+04   229.660000
max    201359.00000  13661.000000  141660.000000  1.660436e+06  8468.220000

In [11]:
# Cantidad de valores nulos por columna
df_OrdenesCompra.isnull().sum()[df_OrdenesCompra.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Approval    5169
dtype: int64

#### 2.3 Tabla a analizar InventarioInicial

In [12]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_InventarioInicial.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [13]:
# Descripción del DataFrame
print(df_InventarioInicial.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB
None

In [14]:
# Resumen estadístico de las columnas numéricas
print(df_InventarioInicial.describe())

               Store          Brand         onHand          Price
count  206529.000000  206529.000000  206529.000000  206529.000000
mean       42.122457   13761.482320      20.429455      22.253910
std        23.191393   13059.429355      31.467342      70.178964
min         1.000000      58.000000       0.000000       0.000000
25%        22.000000    3746.000000       7.000000       9.990000
50%        42.000000    8010.000000      12.000000      14.990000
75%        64.000000   22143.000000      21.000000      21.990000
max        79.000000   90090.000000    1251.000000   13999.900000

In [15]:
# Cantidad de valores nulos por columna
df_InventarioInicial.isnull().sum()[df_InventarioInicial.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)

#### 2.4 Tabla a analizar InventarioFinal

In [16]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_InventarioFinal.head(5)

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [17]:
# Descripción del DataFrame
print(df_InventarioFinal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB
None

In [18]:
# Resumen estadístico de las columnas numéricas
print(df_InventarioFinal.describe())

               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [19]:
# Cantidad de valores nulos por columna
df_InventarioFinal.isnull().sum()[df_InventarioFinal.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

City    1284
dtype: int64

Explayamos sobre valores nulos

In [20]:
#Creamos DataFrame solo con los registros que contienen valores nulos en City
df_InventarioFinal_nulos = df_InventarioFinal[df_InventarioFinal.isnull().any(axis=1)] # Filtra las filas que tienen al menos un valor nulo
df_InventarioFinal_nulos

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,NaN,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2016-12-31
113896,46__62,46,NaN,62,Herradura Silver Tequila,750mL,0,36.99,2016-12-31
113897,46__63,46,NaN,63,Herradura Reposado Tequila,750mL,0,38.99,2016-12-31
113898,46__77,46,NaN,77,Three Olives Espresso Vodka,750mL,0,14.99,2016-12-31
113899,46__106,46,NaN,106,Mr Boston Peach Schnapps,Liter,0,4.49,2016-12-31
...,...,...,...,...,...,...,...,...,...
115174,46__46447,46,NaN,46447,Gascon Malbec Mendoza,750mL,0,10.99,2016-12-31
115175,46__46458,46,NaN,46458,Layer Cake Barosa Shiraz,750mL,0,15.99,2016-12-31
115176,46__46476,46,NaN,46476,Tilia Malbec Mendoza,750mL,0,9.99,2016-12-31
115177,46__46764,46,NaN,46764,Clayhouse Adobe Red Paso Rbl,750mL,0,11.99,2016-12-31
115178,46__46830,46,NaN,46830,Pacific Rim Sweet Rsl,750mL,0,8.99,2016-12-31

A priori parece que únicamente faltan los datos de City para la tienda 46, por lo que procedemos a corroborarlo

In [21]:
# Contamos cantidad de valores nulos de City por Store
df_InventarioFinal_nulos.groupby("Store")["City"].apply(lambda x: x.isnull().sum()) # Función que le asigna a cada valor si es nulo o no y luego los suma

Store
46    1284
Name: City, dtype: int64

#### 2.5 Tabla a analizar Compras

In [22]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Compras.head(5)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [23]:
# Descripción del DataFrame
print(df_Compras.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB
None

In [24]:
# Resumen estadístico de las columnas numéricas
print(df_Compras.describe())

              Store         Brand  VendorNumber      PONumber  PurchasePrice  \
count  2.372474e+06  2.372474e+06  2.372474e+06  2.372474e+06   2.372474e+06
mean   4.465133e+01  1.241864e+04  6.886436e+03  1.104094e+04   1.205005e+01
std    2.351245e+01  1.255728e+04  8.066694e+03  1.565340e+03   1.794510e+01
min    1.000000e+00  5.800000e+01  2.000000e+00  8.106000e+03   0.000000e+00
25%    2.500000e+01  3.639000e+03  3.252000e+03  9.761000e+03   6.120000e+00
50%    4.800000e+01  6.523000e+03  4.425000e+03  1.110300e+04   9.220000e+00
75%    6.700000e+01  1.887700e+04  9.552000e+03  1.239700e+04   1.449000e+01
max    8.100000e+01  9.063100e+04  2.013590e+05  1.366100e+04   5.681810e+03

           Quantity       Dollars  Classification
count  2.372474e+06  2.372474e+06    2.372474e+06
mean   1.415585e+01  1.356815e+02    1.443520e+00
std    2.344616e+01  2.816649e+02    4.967999e-01
min    1.000000e+00  0.000000e+00    1.000000e+00
25%    6.000000e+00  4.926000e+01    1.000000e+00
50%    1.000000e+01  8.393000e+01    1.000000e+00
75%    1.200000e+01  1.405200e+02    2.000000e+00
max    3.816000e+03  5.017570e+04    2.000000e+00

In [25]:
# Cantidad de valores nulos por columna
df_Compras.isnull().sum()[df_Compras.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Size    3
dtype: int64

Explayamos sobre valores nulos

In [26]:
#Creamos DataFrame solo con los registros que contienen valores nulos
df_Compras_nulos = df_Compras[df_Compras.isnull().any(axis=1)] # Filtra las filas que tienen al menos un valor nulo
df_Compras_nulos

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1109668,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1
1112426,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1
1116302,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2

Traemos el Size de otros productos con misma descripción

In [27]:
df_same_size = df_Compras[df_Compras['Description'].isin(df_Compras_nulos['Description'])]

# Mostramos los resultados obtenidos
print("Registros con 'Size' nulo:")
print(df_Compras_nulos[['Description', 'Size']])

print("\nRegistros con la misma 'Description' pero con 'Size' no nulo:")
print(df_same_size[['Description', 'Size']])

Registros con 'Size' nulo:
                        Description Size
1109668    Pinnacle Rainbow Sherbet  NaN
1112426      Skinnygirl Pina Colada  NaN
1116302  Alabaster 07 Tinta de Toro  NaN

Registros con la misma 'Description' pero con 'Size' no nulo:
                        Description   Size
26472        Skinnygirl Pina Colada  750mL
134447     Pinnacle Rainbow Sherbet  750mL
135201     Pinnacle Rainbow Sherbet  750mL
135202     Pinnacle Rainbow Sherbet  750mL
176514       Skinnygirl Pina Colada  750mL
214731       Skinnygirl Pina Colada  750mL
214955     Pinnacle Rainbow Sherbet  750mL
215283     Pinnacle Rainbow Sherbet  750mL
291013     Pinnacle Rainbow Sherbet  750mL
366401       Skinnygirl Pina Colada  750mL
366882       Skinnygirl Pina Colada  750mL
367931       Skinnygirl Pina Colada  750mL
406165     Pinnacle Rainbow Sherbet  750mL
478946     Pinnacle Rainbow Sherbet  750mL
631595       Skinnygirl Pina Colada  750mL
760082       Skinnygirl Pina Colada  750mL
761874       Skinnygirl Pina Colada  750mL
1109305    Pinnacle Rainbow Sherbet  750mL
1109668    Pinnacle Rainbow Sherbet    NaN
1112426      Skinnygirl Pina Colada    NaN
1116302  Alabaster 07 Tinta de Toro    NaN

#### 2.6 Tabla a analizar Ventas

In [28]:
# muestra los primeros 5 registros de la tabla para verificar que se importó bien
df_Ventas.head(5)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [29]:
# Descripción del DataFrame
print(df_Ventas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB
None

In [30]:
# Resumen estadístico de las columnas numéricas
print(df_Ventas.describe())

              Store         Brand  SalesQuantity  SalesDollars    SalesPrice  \
count  1.048575e+06  1.048575e+06   1.048575e+06  1.048575e+06  1.048575e+06
mean   4.008063e+01  1.216959e+04   2.337619e+00  3.160420e+01  1.543162e+01
std    2.435739e+01  1.241921e+04   3.511492e+00  6.570249e+01  1.404967e+01
min    1.000000e+00  5.800000e+01   1.000000e+00  4.900000e-01  4.900000e-01
25%    1.500000e+01  3.680000e+03   1.000000e+00  1.099000e+01  8.990000e+00
50%    3.900000e+01  6.296000e+03   1.000000e+00  1.799000e+01  1.299000e+01
75%    6.400000e+01  1.795400e+04   2.000000e+00  3.199000e+01  1.899000e+01
max    7.900000e+01  9.008900e+04   4.320000e+02  1.327997e+04  4.999990e+03

             Volume  Classification     ExciseTax      VendorNo
count  1.048575e+06    1.048575e+06  1.048575e+06  1.048575e+06
mean   9.500280e+02    1.416550e+00  1.326847e+00  6.995043e+03
std    7.142708e+02    4.929872e-01  3.407898e+00  8.426736e+03
min    5.000000e+01    1.000000e+00  1.000000e-02  2.000000e+00
25%    7.500000e+02    1.000000e+00  1.600000e-01  3.252000e+03
50%    7.500000e+02    1.000000e+00  6.800000e-01  4.425000e+03
75%    1.500000e+03    2.000000e+00  1.570000e+00  9.552000e+03
max    2.000000e+04    2.000000e+00  3.785200e+02  1.733570e+05

In [32]:
# Cantidad de valores nulos por columna
df_Ventas.isnull().sum()[df_Ventas.isnull().sum()>0] # Filtrando por aquellos que contengan por lo menos 1 nulo

Series([], dtype: int64)